/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* dark mode bg color  below */
}

textarea {
  resize: none;
}

@media not all and (pointer: coarse) {
  * {
    scrollbar-width: thin;
    scrollbar-color: rgb(152 151 149);
  }

  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgb(152 151 149);
    border: 3px solid rgb(152 151 149);
  }
}